@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #0c0b0b;
  --primary-text-color: #fafafa;
}

/* Fonts */
@font-face {
  font-family: "Poppins";
  src:
    url("./assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("./assets/fonts/Poppins-Regular.woff") format("woff"),
    url("assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:
    url("./assets/fonts/Poppins-Medium.woff2") format("woff2"),
    url("./assets/fonts/Poppins-Medium.woff") format("woff"),
    url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.social-link {
  @apply flex size-[32px] items-center justify-center rounded-md border border-[#fafafa26] transition duration-300 group-hover:bg-primaryTextColor group-focus-visible:bg-primaryTextColor group-active:bg-primaryTextColor md:size-[40px];
}

.social-link-icon {
  @apply size-[14px] fill-primaryTextColor transition duration-300 group-hover:fill-primaryBgColor group-focus-visible:fill-primaryBgColor group-active:fill-primaryBgColor md:size-[18px];
}

.custom-blur::after {
  content: "";
  isolation: isolate;
  position: absolute;
  bottom: -80px;
  right: 50%;
  transform: translateX(50%);
  z-index: -10;
  width: 170px;
  height: 153px;
  filter: blur(40px);
  border-radius: 200000px;
  transition: background-color 0.6s ease;
}
@media screen and (min-width: 768px) {
  .custom-blur::after {
    width: 332px;
    height: 200px;
    bottom: -30px;
  }
  @media screen and (min-width: 1440px) {
    .custom-blur::after {
      height: 280px;
      bottom: -70px;
    }
  }
}

.btn::after {
  @apply absolute inset-0 -z-10 rotate-[-180deg] scale-0 rounded-full bg-primaryTextColor transition-transform duration-500 content-[''''];
}

.btn:hover::after,
.btn:focus::after {
  @apply rotate-0 scale-100;
}
