@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #0c0b0b;
  --primary-text-color: #fafafa;
}

/* Fonts */
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("./assets/fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("./assets/fonts/Poppins-Medium.ttf") format("ttf");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
