@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #0c0b0b;
  --primary-text-color: #fafafa;
  --accent-color: #34387f;
}

@layer base {
  * {
    @apply outline-none;
  }
}

/* Fonts */
@font-face {
  font-family: "Poppins";
  src:
    url("./assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("./assets/fonts/Poppins-Regular.woff") format("woff"),
    url("assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("./assets/fonts/Poppins-Medium.woff2") format("woff2"),
    url("./assets/fonts/Poppins-Medium.woff") format("woff"),
    url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html {
  scrollbar-gutter: stable;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.social-link {
  @apply flex size-[32px] items-center justify-center rounded-md border border-[#fafafa26] transition duration-300 hover:bg-primaryTextColor focus-visible:bg-primaryTextColor active:bg-primaryTextColor md:size-[40px];
}

.social-link-icon {
  @apply size-[14px] fill-primaryTextColor transition duration-300 group-hover:fill-primaryBgColor group-focus-visible:fill-primaryBgColor group-active:fill-primaryBgColor md:size-[18px];
}

.custom-blur::after {
  content: "";
  isolation: isolate;
  position: absolute;
  bottom: -80px;
  right: 50%;
  transform: translateX(50%);
  z-index: -10;
  width: 170px;
  height: 153px;
  filter: blur(40px);
  --webkit-filter: blur(40px);
  border-radius: 200000px;
  transition: background-color 0.6s ease;
}
@media screen and (min-width: 768px) {
  .custom-blur::after {
    width: 332px;
    height: 200px;
    bottom: -30px;
  }
  @media screen and (min-width: 1440px) {
    .custom-blur::after {
      height: 280px;
      bottom: -70px;
    }
  }
}

.btn::after {
  @apply absolute inset-0 -z-10 rotate-[-180deg] scale-0 rounded-full bg-primaryTextColor transition-transform duration-500 content-[''''];
}

.btn:hover::after,
.btn:focus-visible::after {
  @apply rotate-0 scale-100;
}

.custom-border::before,
.custom-border::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 8px;
}

.custom-border:before {
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 400%;
  filter: blur(5px);
  --webkit-filter: blur(5px);
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.custom-border::after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  background: var(--primary-bg-color);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.custom-border:hover::before,
.custom-border:focus-visible::before {
  opacity: 1;
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--primary-text-color);
  transition: transform 0.6s;
  transform-origin: right;
  transform: scaleX(0);
}
.link:hover::after,
.link:focus-visible::after {
  transform-origin: left;
  transform: scaleX(1);
}

.characters-hero-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 509px;
  width: 100%;
  background-image: url("./assets/images/characters/hero/characters-hero_mob@1x.webp");

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media screen and (min-resolution: 1.5dppx),
  screen and (min-device-pixel-ratio: 2) {
  .characters-hero-bg::before {
    background-image: url("./assets/images/characters/hero/characters-hero_mob@2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .characters-hero-bg::before {
    /* top: -66px; */
    height: 780px;
    background-image: url("./assets/images/characters/hero/characters-hero_tab@1x.webp");
  }

  @media screen and (min-resolution: 1.5dppx),
    screen and (min-device-pixel-ratio: 2) {
    .characters-hero-bg::before {
      background-image: url("./assets/images/characters/hero/characters-hero_tab@2x.webp");
    }
  }
}

@media screen and (min-width: 1440px) {
  .characters-hero-bg::before {
    /* top: -78px; */
    background-image: url("./assets/images/characters/hero/characters-hero_desk@1x.webp");
  }

  @media screen and (min-resolution: 1.5dppx),
    screen and (min-device-pixel-ratio: 2) {
    .characters-hero-bg::before {
      background-image: url("./assets/images/characters/hero/characters-hero_desk@2x.webp");
    }
  }
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px var(--primary-bg-color) inset !important; /* фон, совпадающий с обычным инпутом */
  -webkit-box-shadow: 0 0 0 1000px var(--primary-bg-color) inset !important;
  -webkit-text-fill-color: var(--primary-text-color) !important;
  caret-color: var(--primary-text-color) !important;
  transition: background-color 9999s ease-in-out 0s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.scrollbar {
  --thumb-color: var(--accent-color);
  --track-color: transparent;
  overflow: auto;
  scrollbar-color: auto !important;
}

/* Firefox */
@-moz-document url-prefix() {
  .scrollbar {
    scrollbar-width: auto;
    scrollbar-color: var(--thumb-color) var(--track-color) !important;
  }
}

/* Chrome, Safari, Edge */
@supports selector(::-webkit-scrollbar) {
  .scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: var(--track-color);
    border-radius: 8px;
    margin-block: 16px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--thumb-color);
    border-radius: 8px;
  }
}

.search-autocomplete {
  width: 108px;
  height: 28px !important;
  z-index: 1;

  @media screen and (min-width: 768px) {
    height: 42px !important;
    width: 170px;
  }

  & .wrapper {
    height: 28px;
    width: 100%;
    background-color: transparent !important;
    font-family: inherit !important;
    font-size: 12px !important;
    font-weight: 500;
    color: var(--primary-text-color);
    outline: none;
    transition: border-color 0.3s ease;
    z-index: 1;
    border: 1px solid #fafafa4c !important;
    border-radius: 1000px !important;
    box-shadow: none !important;
    transition: all 0.3s ease-in;

    .line {
      display: none;
    }
    ul {
      margin-top: 6px;
      li {
        padding: 4px !important;
        color: var(--primary-text-color) !important;
      }
      .selected {
        background-color: var(--active-item-color) !important;
        border-radius: 1000px !important;
      }
      svg {
        display: none !important;
      }
    }

    input {
      padding-left: 8px;
      color: var(--primary-text-color) !important;
    }
    input::placeholder {
      color: var(--primary-text-color) !important;
    }
    .search-icon {
      fill: var(--primary-text-color);
    }
    .clear-icon {
      margin-top: 0;
      svg {
        fill: var(--primary-text-color);
      }
    }
    & > div {
      min-height: 28px !important;
      height: 100% !important;
    }

    @media screen and (min-width: 768px) {
      height: 42px !important;
      font-size: 14px !important;
      & > div {
        min-height: 42px !important;
      }
    }
  }

  &:focus-within .wrapper {
    border-color: var(--primary-text-color) !important;

    box-shadow: none;
  }
}

/* Pagination */
.page-link {
  @apply flex size-[32px] cursor-pointer items-center justify-center rounded-[4px] border border-[#fafafa4c] bg-[#171717] transition duration-300 hover:border-transparent hover:bg-[#5558b8] focus-visible:border-transparent focus-visible:bg-[#5558b8] active:bg-[#5558b8];
}

.page-link-prev,
.page-link-next {
  @apply bg-accentColor border-transparent;
}
.active-pg .page-link {
  @apply border-accentColor border-2;
}
.page-item.disabled .page-link,
.page-link:disabled {
  @apply cursor-not-allowed bg-[#171717] opacity-40;
}

/* Date picker */
.react-datepicker-popper {
  @apply !-left-8 md:!left-auto;
}
.react-datepicker__input-container input {
  @apply border-accentColor relative h-[46px] w-[158px] cursor-pointer rounded-[100px] border-[2px] bg-transparent py-3.5 pl-6 text-[14px] leading-[1.29] text-[#fafafa] outline-none transition duration-300 placeholder:text-primaryTextColor hover:border-primaryTextColor focus-visible:border-primaryTextColor md:h-[50px] md:w-[120px] md:pl-3 lg:w-[170px];
}
.react-datepicker {
  @apply !rounded-[30px] !border-none !bg-[#171717] !text-primaryTextColor;
}
.react-datepicker__header {
  @apply !rounded-t-[30px] !bg-[#171717];
}
.react-datepicker__current-month,
.react-datepicker__day-name {
  @apply !text-primaryTextColor;
}
.react-datepicker__day {
  @apply hover:!bg-accentColor !text-primaryTextColor transition duration-300;
}
.react-datepicker__day--keyboard-selected {
  @apply !bg-accentColor;
}
.react-datepicker__day--selected {
  @apply !bg-gray-500 !font-semibold;
}
.react-datepicker__day--keyboard-selected:not(
    .react-datepicker__day--selected
  ) {
  @apply !bg-transparent !text-inherit;
}
.react-datepicker__day--keyboard-selected:not(
    .react-datepicker__day--selected
  ):hover {
  @apply !bg-accentColor !text-primaryTextColor;
}
.react-datepicker__tab-loop {
  @apply absolute;
}
.react-datepicker__day--outside-month {
  visibility: hidden;
  pointer-events: none;
}
